* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat Variable", sans-serif;
  font-size: 14px;
}

ul,
ol,
menu {
  list-style: none;
}

a {
  display: block;
  color: currentColor;
  text-decoration: none;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(22, 165, 134, 0.4);
}
